.main{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color:grey;
}

.form{
    border-width: 0.2px;
    border-color: rgb(49, 49, 49);
    margin-top:4em;
    border-radius: 15%;
    padding:2em;
    background-color:#0A1A33;
}

.form:hover{
    border-color: rgb(80, 80, 80);
}

input{
    width: 20rem;
    height:2.5rem;
    background-color: #0A1A33;
    border:1px solid rgb(55, 54, 54);
    border-radius:8px;
}

hr{
    color: grey;
}

input:focus{
    outline:rgb(5, 128, 170);
    border:1px solid rgb(5, 128, 170);
}



.forgotPassword{
    color:rgb(128, 213, 241);
    cursor:pointer;
    margin-left:12.5rem;
}

.forgotPassword:hover{
    color:rgb(50, 191, 238);
    text-decoration: underline;
}

.btn{
    background-color:rgb(5, 151, 200);
    width:20rem;
    height:3rem;
    border-radius:16px;
}

.btn:hover{
    background-color:rgb(3, 115, 153);
    cursor:pointer;
}


.style1{
    color:grey;
    font-size:0.8em;
    margin-left:8rem;
}

.style2{
    cursor:pointer;
    color:rgb(128, 213, 241);
}

.style2:hover{
    color:rgb(50, 191, 238);
    text-decoration: underline;
}