.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border:1px solid white; */
    min-height: 100%;
    min-width: 75%;
    /* padding: 4em; */
}

.details {
    display: flex;
    flex-direction: row;
    background: #000811;
    padding-left:4em;
    padding-top:1.5em;
    padding-bottom:1em;
}


.shortform {
    background: linear-gradient(135deg, #1a73e8, #00b4db);
    border-radius: 15px;
    color: whitesmoke;
    height: fit-content;
    width: fit-content;
    padding: 0em;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    padding-top: 0.4em;
}

.status{
    color:grey;
    font-size:small;
}

.icons{
    display:flex;
    flex-direction: row;
    gap:3rem;
    font-size:150%;
    margin-left:76%;
    margin-top:1%;
}


.msg{
    background-color: inherit;
    /* border:1px solid white; */
    height: 79%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}   

.send{
    background: #000811;
    min-height: 7%;
    border-radius: 15px;
    margin-top:0.9rem;
    display:flex;
    flex-direction: row;

    gap:2rem;
    padding-left:2rem;

    padding-top:1.2rem;

    font-size:147%;
}

.paperClip{
    margin-top:0.4rem;
}


input{
    padding:1rem;
    width:89%;
    border-radius: 200px;
    font-size: large;
    /* height:50%; */

}

.sendIcon{
    margin-top:0.4rem;
}