.main {
    display: flex;
    flex-direction: column;
    gap: 1%;
    /* border:1px solid white; */
    min-height: 100%;
    min-width: 75%;
    /* padding: 4em; */
}

.details {
    display: flex;
    flex-direction: row;
    background: #000811;
    padding-left:4%;
    padding-top:3.5%;
    padding-bottom:2%;
    /* border-radius: 15px; */
}


.shortform {
    background: linear-gradient(135deg, #1a73e8, #00b4db);
    border-radius: 15px;
    color: whitesmoke;
   
    min-width: 6%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160%;
    margin-top:0.1%;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
    /* padding-top: 0.4%; */
    min-width:fit-content;
    font-size:200%;
}

.status{
    color:grey;
    font-size:medium;
}

.icons{
    display:flex;
    flex-direction: row;
    gap:3rem;
    font-size:150%;
    margin-left:68%;
    margin-top:1%;
}


.msg{
    background-color: inherit;
    /* border:1px solid white; */
    height: 79%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}   

.send{
    background: #000811;
    min-height: 7%;
    /* border-radius: 15px; */
    margin-top:1rem;
    display:flex;
    flex-direction: row;

    gap:2rem;
    padding-left:2rem;

    padding-top:1.2rem;

    font-size:147%;
}

.paperClip{
    margin-top:0.4rem;
}


input{
    padding:1rem;
    width:89%;
    border-radius: 200px;
    font-size: large;
    /* height:50%; */

}

.sendIcon{
    margin-top:0.4rem;
}