.main{
    display:flex;   
    flex-direction: column;
    align-items: center;
}

.signupText{
    color:grey;
}

.signupForm{
    display:flex;
    flex-direction: column; 
    border-color: rgb(49, 49, 49);
    margin-top:4em;
    border-radius: 10%;
    padding:2em;
    background-color:#0A1A33;
    box-shadow: 0px 4px 10px #0e264e;
    width: 24rem;
}

.signupButton{
    width:100%;
    background-color: #3777f0;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}


.signupButton:hover{
    background-color: #2e5bbf;
}

.loginText{
    font-size:1rem;
    color:grey;
    margin-left:3rem;
}


.style2{
    cursor:pointer;
    color:rgb(128, 213, 241);
}

.style2:hover{
    color:rgb(50, 191, 238);
    text-decoration: underline;
}