.main{
    display:flex;   
    flex-direction: column;
    align-items: center;
}

.signupText{
    color:grey;
}

.signupForm{
    display:flex;
    flex-direction: column; 
    border-color: rgb(49, 49, 49);
    margin-top:4em;
    border-radius: 10%;
    padding:2em;
    background-color:#0A1A33;
    box-shadow: 0px 4px 10px #0e264e;
    width: 24rem;
}

.input{
    width: 20rem;
    height:2.5rem;
    background-color: #0A1A33;
    border:1px solid rgb(55, 54, 54);
    border-radius:8px;
    padding-left :5%;
    margin-top:4%;

}

/* {
    width:100%;
    background-color: #3777f0;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}


r{
    background-color: #2e5bbf;
} */

.signupButton{
    background-color:rgb(5, 151, 200);
    width:20rem;
    height:3rem;
    border-radius:16px;
     color:white;
    padding:10px;
    border:none;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.signupButton:hover{
    background-color:rgb(3, 115, 153);
    cursor:pointer;
}

.loginText{
    font-size:1rem;
    color:grey;
    margin-left:3rem;
}


.style2{
    cursor:pointer;
    color:rgb(128, 213, 241);
}

.style2:hover{
    color:rgb(50, 191, 238);
    text-decoration: underline;
}